<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile_edit</title>
</head>
<body>

<form th:action="@{/accounts/edit}" method="post">
    <p>Name</p><input type="text" name="name" placeholder="Name" th:value="${name}"><br/>
    <p>Username</p><input type="text" name="username" placeholder="Username" th:value="${username}"><br/>
    <p>Website</p><input type="text" name="website" placeholder="Website" th:value="${website}"><br/>
    <p>Bio</p><input type="text" name="bio" placeholder="Bio" th:value="${bio}"><br/>
    <p>Email</p><input type="email" name="email" placeholder="Email" th:value="${email}"><br/>
    <p>Phone Number</p><input type="text" name="phoneNumber" placeholder="Phone Number" th:value="${phoneNumber}"><br/>
    <button type="submit">submit</button>
</form>
</body>
</html>