<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

<!--<img src="${account.profileImage}">-->
<br/>

<form th:action="@{/image/profileUpload}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input id="input_img" type="file" name="profileImage" placeholder="input photo"></td>
        </tr>
    </table>
    <input type="submit" value="Upload">
</form>

<h1>profile</h1>
<hr/>
<h2>
<a th:text="${account.username}"></a><br/>
</h2>

<h3>
    <a th:text="${account.name}"></a><br/>


</h3>
<h4>
    <a th:text="${account.bio}"></a><br/>
    <a th:href="${account.website}" th:text="${account.website}"></a><br/>
</h4>
<h5>
    <a th:text="${account.email}"></a><br/>
    <a th:text="${account.phoneNumber}"></a><br/>
</h5>
</body>
</html>